<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">  
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>Estudiante de Analista Programador | Desarrollador polifacético: Python, Java, JavaScript, HTML, 
           MySQL, PL/SQL | Especializado en Django, Ionic, Angular | En proceso de aprender ASP.NET Y C#
        </p>
    </div>

</div>

<div style="margin-top: -105px">
<div class="row justify-content-md-center text-center">

        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 0 gray">
    <i class="bi-hdd-fill"></i>
    <h3>Back-end</h3>
    <p>
        Python, Java, MySQL, PL/SQL, Django, Ionic
    </p>
    <p class="text-primary cabecera">
        Stack:
    </p>

    <p>
        ASP.NET CORE, MYSQL
    </p>

</div>

<div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 0 gray">
    <i class="bi-code-slash"></i>
    <h3>Front end</h3>
    <p>
        Puedo crear front end robustos los cuales cumplen con los requerimientos del negocio.
    </p>
        <p class="text-primary cabecera">
            Stack:
        </p>

        <p>
            HTML, CSS, BOOSTRAP, JavaScript
        </p>

        <p class="text-primary cabecera">
            Experiencia: En certificacion de software
        </p>
</div>

</div>
</div>