<div class="text-center">
    <!-- aca en @ViewBag.Nombre estamos obteniendo y mostrando la variable en nuestro html -->
    <!-- y aca mostramos el dato enviado desde el controlador y la clase persona con @Model -->
    <h1 class="display-4">Soy @ViewBag.Nombre</h1>
    <h2>Soy un desarrollador full stack especializado en tecnologias .NET y JavaScript.</h2>
    <img id="foto"
         src="~/imagenes/foto.jpg" alt="foto de felipe" />
    <div class="text-center">
        <img id="imagen-dotnet" src="~/imagenes/images.png" alt="dotnet logo" />
    </div>
</div>