
@{
    <div class="container">
        <h1>Gracias por ponerte en contacto conmigo</h1>
        <h3>Me pondre en contacto contigo lo antes posible</h3>
        <form asp-action="Index" asp-controller="Home">
            <button type="submit" class="btn btn-primary">Volver al inicio</button>
        </form>
    </div>
}
